%html
  %head
    %title= "\"#{@item[:title]}\""
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/assets/styles/style.css"}
  %body
    %div#all><
      %div#nav><
        - parents = get_parents(@item, @items)
        - content_children = @item.children.reject{|i|i.binary?}
        - do_collection(parents, 'parent', 'first', 'last') do |i, context, first, last|
          %div{:class=>"#{context}#{first==true ? ' first' : ''}"}
            %a{:href=>"#{i.identifier}"}<>= "#{i[:title]}"
        %div{:class=>"current#{parents.size == 0 ? ' first' : ''}#{content_children.size==0 ? ' last' : ''}"}= @item[:title]
        - do_collection(content_children, 'child', 'first', 'last') do |i, context, first, last|
          %div{:class=>"#{context}#{last==true ? ' last' : ''}"}
            %a{:href=>"#{i.reps[0].path}"}<>= "#{i[:title]}"
      %div#main><
        %h2.page><= @item[:page_title] || @item[:title] || "&nbsp;"
        %div.chapter><= yield
        &nbsp;
      %div#footer= "last modified: #{@item.mtime.strftime('%Y-%m-%d')} | Tags #{tags_for(@item, {:base_url => "/sitemap/tags/#"})}"

